header{
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease-in 0.4s;
}
.header--logo{
    height: 25px;
}
.header--logo img{
    height: 100%;
}
.header--user{
    height: 35px;
}
.header--user img{
    height: 100%;
    border-radius: 4px;
}
header.black{
    background: #141414;
}
.header--list {
    display: flex;
    /* flex-direction: row; */
    list-style: none;
    margin-right: 0;
    opacity: 1;
    margin-right: 95em !important; 
    
}
.header--list li{
    margin-right: 15px;
    cursor: pointer;
    font-size: 15px;
}
.header--list li:hover{
    opacity: 70%;
    transition: all ease-in 0.3s;
}

