
header{
    position: fixed;
    z-index: 999;
    top: 0%;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: transparent;
    transition: all ease-in 0.4s;
}
.header--logo{
    height: 25px;
}
.header--logo img{
    height: 100%;
}
.header--user{
    height: 35px;
}
.header--user img{
    height: 100%;
    border-radius: 4px;
}
header.black{
    background: #141414;
}

.header--list{
    display: grid;
    grid-template-columns: repeat(5, auto) ;
    grid-gap: 20px;
    list-style: none;
    margin-right: 110em;
    opacity: 1;
    cursor: pointer;
    color: #E5E5E5;
}
.header--list li:hover{
    opacity: 70%;
    transition: all ease-in 0.3s;
}
.header--icon{
    margin: 0 0 0 5px;
    display: none;
}
.header--navigation{
    position: absolute;
    margin: 0 120px;
    font-size: 10px;
}
.header--navigation--icon{
    position: fixed;
    margin-right: 3px;
    font-size: 15px;
    margin-left: 5px;
}
.header--mobile--menu--icon{
    display: none;
}